<a href="https://colab.research.google.com/github/Rushikesh419/Control-Flow-Statements/blob/main/arithimatic%20mean%20of%20grouped%20and%20ungrouped%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# to find arithimatic mean for ungrouped data
n=int(input('enter the number user wants to put : '))
sum=0
sumfr=0
for i in range(1,n+1):
    a=int(input('enter the number: '))
    b=int(input('enter its frequency : '))
    mul= a * b
    sum = sum + mul
    sumfr = sumfr+b
print(f'total sum is {sum}')
AM=sum/sumfr
print(f'arithimatic mean is {AM}')

enter the number user wants to put : 3
enter the number: 6
enter its frequency : 3
enter the number: 9
enter its frequency : 5
enter the number: 9
enter its frequency : 2
total sum is 81
arithimatic mean is 8.1

In [8]:
# mean of grouped data
n=int(input('number of observations : '))
sum=0
sumfr=0
for i in range (1,n+1):
    low=int(input('enter lower value : '))
    up=int(input('enter upper value : '))
    fr=int(input('enter the frequency : '))
    if up>low:
        class_mark=(up+low)/2
        print('class_mark = ',class_mark)
        mul=class_mark*fr
        sum=sum+mul
        sumfr=sumfr+fr
    else:
        print('upper value must be greater than lower value')
        break
print(f'total sum is {sum}')
print(f'total frequencies {sumfr}')
print(f'the arithimatic mean of the data is {sum/sumfr}')

number of observations : 4
enter lower value : 0
enter upper value : 10
enter the frequency : 3
class_mark =  5.0
enter lower value : 10
enter upper value : 20
enter the frequency : 4
class_mark =  15.0
enter lower value : 20
enter upper value : 30
enter the frequency : 5
class_mark =  25.0
enter lower value : 30
enter upper value : 40
enter the frequency : 6
class_mark =  35.0
total sum is 410.0
total frequencies 18
the arithimatic mean of the data is 22.77777777777778