<a href="https://colab.research.google.com/github/Rushikesh419/Control-Flow-Statements/blob/main/pattern%20for%20loop%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1) simple one side pyramid
n=int(input('enter the number of rows : '))
for i in range (1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

enter the number of rows : 5
1
12
123
1234
12345

In [2]:
# 2) 54321
#    5432
#    543
#    54
#    5
n=int(input('enter the number of rows : '))
for i in range (n,0,-1):
    for j in range(n,n-i,-1):
        print(j,end='')
    print()

enter the number of rows : 5
54321
5432
543
54
5

In [3]:
# 3) 55555
#    4444
#    333
#    22
#    1
n=int(input('enter the number of rows : '))
for i in range(n,0,-1):
    for j in range(i):
        print(i,end='')
    print()

enter the number of rows : 5
55555
4444
333
22
1

In [4]:
#4) 12345
#   1234
#   123
#   12
#   1
n=int(input('enter the number of rows : '))
for i in range(n+1,0,-1):
    for j in range(1,i):
        print(j,end='')
    print()

enter the number of rows : 5
12345
1234
123
12
1