<a href="https://colab.research.google.com/github/Rushikesh419/Control-Flow-Statements/blob/main/pattern%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# upside down pyramid
n=int(input('enter the number of rows : '))
i=1
while n>0:
    b=1
    while b<i:
        print(' ',end='')
        b=b+1
    j=1
    while j<=((n*2)-1):
        print('*',end='')
        j=j+1
    print()
    n=n-1
    i=i+1

enter the number of rows : 5
*********
 *******
  *****
   ***
    *

In [ ]:
# another one
n=int(input('enter the number of rows : '))
i=1
while n>0:
    b=1
    while b<i:
        print(' ',end='')
        b=b+1
    j=1
    while j<=((n*2)-1):
        print(i,end='')
        j=j+1
    print()
    n=n-1
    i=i+1

enter the number of rows : 5
111111111
 2222222
  33333
   444
    5