<a href="https://colab.research.google.com/github/Rushikesh419/Control-Flow-Statements/blob/main/while_loop_pattern_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1) pattern by while loop
n=int(input('enter the number of rows : '))
i=1
while i<=n:
    j=1
    while j<=i:
        print('*',end='')                    
        j=j+1
    print()
    i=i+1

enter the number of rows : 5
*
**
***
****
*****

In [3]:
# OR the next pattern
n=int(input('enter the number of rows : '))
i=1
while i<=n:                                           #1
    j=1                                               #22
    while j<=i:                                       #333
        print(i,end='')                               #4444   PATTERN
        j=j+1
    print()
    i=i+1

enter the number of rows : 5
1
22
333
4444
55555

In [4]:
# or next pattern
n=int(input('enter the number of rows : '))
i=1
while i<=n:
    j=1
    while j<=i:                                            #1
        print(j,end='')                                    #12
        j=j+1                                              #123
    print()                                                #1234    PATTERN
    i=i+1

enter the number of rows : 5
1
12
123
1234
12345

In [5]:
#2) OPPOSITE OF UPPER PROGRAM
n=int(input('enter the number of rows : '))
i=1
while i<=n:
    b=1
    while b<=(n-i):
        print(' ',end='')
        b+=1
    j=1
    while j<=i:
        print('*',end='')
        j+=1
    print()
    i+=1

enter the number of rows : 5
    *
   **
  ***
 ****
*****